@import './variables.scss';

.app-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    min-width: 5em;
    height: fit-content;
    border: 3px solid $mainColor;
    border-radius: 10%;
    font-family: $mainFont;
    background-color: $backgroundColor;
}