@import './variables.scss';

.card__translation {
    color: $mainColor;
    font-weight: bold;
}
.app-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10em;
}

.card {
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
    width: 7em;
    height: 10em;
    border: 3px solid $mainColor;
    border-radius: 10%;
    font-family: $mainFont;
    background-color: $backgroundColor;
}

th, td {
    padding: 1em;
}

button:hover, input:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}